<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <header>
      <img
        src="../assets/img/Nike logo for some reason.png"
        alt="Nike logo [PH]"
        class="topPic"
      />
    </header>
    <main style="background-color: #f1f1f1">
      <section>
        <img
          src="../assets/img/Imagen.jpg"
          alt="Photo of mountains"
          class="mainPic"
        />
      </section>
      <aside class="saveDataBox">
        <h1>Save your data for the next trip now</h1>
        <div class="buttons">
          <button class="adjustData">Adjust data</button>
          <a href="https://www.linkedin.com/in/mosi-hickman-blanco-093623349/"
            ><button class="checkUsOut">Check us out</button></a
          >
        </div>
      </aside>
    </main>
    <footer>
      <!--Logo goes here-->
      <p class="desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo.
      </p>
      <ul class="footerList">
        <li class="listTitle">Contacto</li>
        <li>Dirección: xxxxxxx, xxx, xxx</li>
        <li>Teléfono: +34 678 439 478</li>
        <li>Email: ejemplo@gmail.com</li>
        <li>Horario: L-V 8:00-14:25</li>
      </ul>
      <ul>
        <li class="listTitle">Enlaces útiles</li>
        <li>Inicio</li>
        <li>Servicios</li>
        <li>Acerca de nosotros</li>
      </ul>
      <div class="map">
        <p class="listTitle">Ubicacion</p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2903.4665578500917!2d-2.9767551238415364!3d43.30449177112096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4e5a896ea04725%3A0x42b47eab7fd92f60!2sC.%20Tartanga%2C%204%2C%2048950%20Erandio%2C%20Vizcaya!5e0!3m2!1ses!2ses!4v1761209636743!5m2!1ses!2ses"
          width="300"
          height="200"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <p class="copyright">© 2025 [PH]. Todos los derechos reservados</p>
    </footer>
  </body>
</html>
