<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profile</title>
  <link rel="stylesheet" href="../assets/css/style.css" />
</head>

<body>
  <div class="popupOverlay">
    <div class="popupCard">

      <form class="loginForm profileForm" id="profileForm">
        <div class="profileHeader">
          <div class="avatar">
            <img src="https://placehold.co/280x280/png" alt="avatar" />
          </div>
          <div class="infoArea">
            <div class="fields">
              <div class="field half">
                <label for="firstName">Name</label>
                <input id="firstName" name="firstName" type="text" placeholder="John" />
              </div>
              <div class="field half">
                <label for="lastName">Surname</label>
                <input id="lastName" name="lastName" type="text" placeholder="Doe" />
              </div>
              <div class="field full">
                <label for="email">Email</label>
                <input id="email" name="email" type="email" placeholder="example@example.com" />
              </div>
            </div>
          </div>
        </div>

        <div class="fields">
          <div class="field half">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" placeholder="Example" />
          </div>

          <div class="field half">
            <label for="password">Password</label>                        
              <button type="button" class="changePwdBtn">Change Password</button>            
          </div>
          <div class="field half">
            <label for="phone">Phone Number</label>
            <input id="phone" name="phone" type="tel" placeholder="000-000-0000" />
          </div>
          <div class="field half">
            <label for="mi_select">Gender</label>
            <select name="mi_select" id="gender">
              <option value="opcion1">Man</option>
              <option value="opcion2">Woman</option>
              <option value="opcion3">Other</option>
            </select>
          </div>
          <div class="field full">
            <label for="accountNumber">Account Number</label>
            <input id="accountNumber" name="accountNumber" type="text" placeholder="XXXX-XXXX-XXXX-XXXX" />
          </div>
        </div>

        <div class="actions">
          <button class="saveBtn" type="submit">Save Data</button>
        </div>
      </form>

    </div>
  </div>

</body>

</html>